In [2]:
import os
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [23]:
os.getcwd()

'E:\\JIGSAW\\Big Data Contact session\\Python_PGPDM2'

In [4]:
## Setting directory to a particular path

os.chdir(r'E:\JIGSAW\Big Data Contact session\Python_PGPDM2')

In [5]:
terror = pd.read_csv("terror.csv",sep = ",", header = 0,encoding="latin",low_memory=False)

In [24]:
## Q.1) How many attacks happened in India?

A1 = terror.query("country_txt == 'India'")['attacktype1'].count()
A2= terror.query("country_txt == 'India'")['attacktype2'].count()
A3= terror.query("country_txt == 'India'")['attacktype3'].count()
Total_Attack = A1 + A2 + A3   
Total_Attack

10661

In [30]:
## Q.2) How many attacks happened in India and upto 3 people were killed?

D1 = terror[(terror.nkill<=3) & (terror.country_txt == 'India')]['attacktype1'].count()
D2 = terror[(terror.nkill<=3) & (terror.country_txt == 'India')]['attacktype2'].count()
D3 = terror[(terror.nkill<=3) & (terror.country_txt == 'India')]['attacktype3'].count()
Totalwithkillupto3 = D1 + D2 + D3
Totalwithkillupto3

8943

In [49]:
## Q.3) Extract the city and summary for attacks above

d = "country_txt == 'India' & nkill <=3"
terror.query(d)[["city","summary"]]

                     city                                            summary
1185            New Delhi                                                NaN
3780            New Delhi                                                NaN
5251               Bombay                                                NaN
7266               Imphal                                                NaN
8609              Unknown                                                NaN
8755              Unknown                                                NaN
8977               Amapur                                                NaN
9037             Raisikah                                                NaN
9040             Champhai                                                NaN
9070               Aizawl                                                NaN
9072           Jamshedpur                                                NaN
9081            New Delhi                                                NaN
9082            New Delhi                                                NaN
9090           Jamshedpur                                                NaN
9137              Chennai                                                NaN
9691              Unknown                                                NaN
9732              Unknown                                                NaN
9801              Unknown                                                NaN
9841               Imphal                                                NaN
9887              Unknown                                                NaN
10407           Chiaplant                                                NaN
10522            Calcutta                                                NaN
10744           New Delhi                                                NaN
12187             Unknown                                                NaN
12391             Unknown                                                NaN
12439             Unknown                                                NaN
13049             Gauhati                                                NaN
13177              Jorhat                                                NaN
13300             Unknown                                                NaN
13875             Unknown                                                NaN
...                   ...                                                ...
156156         Dariyakona  12/15/2015: Assailants abducted Baghel Gond fr...
156176           Awapalli  12/15/2015: An explosive device detonated in A...
156243           Srinagar  12/17/2015: Assailants fired a rifle grenade a...
156248             Imphal  12/17/2015: An explosive device detonated in D...
156249       Williamnagar  12/17/2015: Assailants threw a grenade at a st...
156292     Pookottumpadam  12/18/2015: Assailants attacked an Indian Fore...
156314        Kalia Atala  12/19/2015: Assailants torched an Airtel cell ...
156339           Chipakur  12/20/2015: Assailants torched an under-constr...
156340            Kakpora  12/20/2015: Assailants threw a grenade at the ...
156383    Bastar district  12/21/2015: Security forces arrested three ass...
156384       Madathakonda  12/21/2015: Assailants abducted and killed Van...
156385       Madathakonda  12/21/2015: Assailants beat a civilian in Mada...
156388       Badapokharia  12/21/2015: Assailants threw at least nine cru...
156389      Simra Nizamat  12/21/2015: Police discovered and defused two ...
156433             Imphal  12/22/2015: Assailants shot and killed a baker...
156458           Nilawaya  12/23/2015: Assailants abducted Hadma Ram, a f...
156459             Imphal  12/23/2015: An explosive device planted under ...
156483          Bijbehara  12/24/2015: Assailants opened fire on police p...
156499            Ramgarh  12/24/2015: Assailants detonated explosive dev...
156529          Badapadar  12/25/2015: Assailants attacked Jayaram Khara ...
156530  Kudumulgumma Raba  12/25/2015: Assailants attacked Sahdev Badanay...
156533          Sivasagar  12/25/2015: Security forces discovered and def...
156569             Pariya  12/26/2015: Assailants abducted Sujit Modiyami...
156612           Tillayya  12/26/2015: An assailant attempted to plant an...
156658            Mendhar  12/27/2015: An explosive device planted under ...
156695              Terem  12/29/2015: Assailants abducted three students...
156698         Peravurani  12/29/2015: An explosive device was discovered...
156713          Tulsibari  12/29/2015: Assailants abducted Hazrat Ali in ...
156725            Zhutovi  12/30/2015: Assailants attempted to extort mon...
156756           Srinagar  12/31/2015: Assailants threw a grenade at an I...

[8362 rows x 2 columns]

In [36]:
##Q.4) In a single terror incident in India, find out top 5 cities by number killed
q = "country_txt == 'India'"
terror.query(q).sort_values(['nkill'], ascending=[0])[["city"]].head(5)

                     city
81000              Mumbai
96598             Jhargam
54339              Bombay
95860  Dantewada district
56837            Banabari

In [34]:
##Q.5) In a single terror incident in India, find out top 5 cities by number killed and wounded

q = "country_txt == 'India'"
terror.query(q).sort_values(['nkill','nwound'], ascending=[0,0])[["city","nwound"]].head(5)

                     city  nwound
81000              Mumbai   817.0
96598             Jhargam   140.0
54339              Bombay     0.0
95860  Dantewada district     0.0
56837            Banabari   100.0

In [32]:
##Q.6) How many attacks were successful that were suicide attacks?

q = "success =='1' & suicide =='1'"
terror.query(q).shape[0]

4260

In [52]:
##Q.7) Label all the incidents where the number killed was more than 5 as severe.
#Hint:
#Use Aggregations and manipulations using apply and map
#map: map a function to each element of a series object
#Suppose we want to label all the incidents where the number killed was more
#than 5 as severe. This would involve applying a function on each element of the
#series, map helps in doing that.
#You can use lambda functions as well (if else follows a special form when used
#with lambdas )
#Use the nkill column.

terrorsevere = (terror['nkill'] > 5).map({True:'severe', False:'not severe'})
print(terrorsevere)

0         not severe
1         not severe
2         not severe
3         not severe
4         not severe
5         not severe
6         not severe
7         not severe
8         not severe
9         not severe
10        not severe
11        not severe
12        not severe
13        not severe
14        not severe
15        not severe
16        not severe
17        not severe
18        not severe
19        not severe
20        not severe
21        not severe
22        not severe
23        not severe
24        not severe
25        not severe
26        not severe
27        not severe
28        not severe
29        not severe
             ...
156742    not severe
156743    not severe
156744    not severe
156745    not severe
156746    not severe
156747    not severe
156748    not severe
156749    not severe
156750    not severe
156751    not severe
156752    not severe
156753    not severe
156754    not severe
156755    not severe
156756    not severe
156757    not severe
156758    not severe
156759    not severe
156760    not severe
156761    not severe
156762        severe
156763    not severe
156764    not severe
156765    not severe
156766    not severe
156767    not severe
156768    not severe
156769    not severe
156770    not severe
156771    not severe
Name: nkill, Length: 156772, dtype: object

In [58]:
##Q.8) write a function to label an incident that was both successful and suicidal
    
def label_incident(row):
    if row['success']==1 and row['suicide']==1:
        return 1
    else:
        return 0

In [69]:
##Q.9) Create a new category representing if the incident occured in Afghanistan,
##Pakistan or India as one level of the category and all the other countries as
##another level. Label all other countries as ROW and new column which contains
##the new category as ‘Local’ in the data.
##Hint: Create a new category representing if the incident occured in Afghanistan,
##Pakistan or India as one level of the category and all the other countries as
##another level.
##Use the columns – country_txt and create a new column called “Local” in the
##dataset.


terror['Local'] = terror.apply(lambda row: 'Local' if row['country_txt']=='India' or row['country_txt']=='Pakistan' or row['country_txt']=='Afghanistan' else 'ROW',axis=1)
terror

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,new1,Local
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,PGIS,0,0,0,0,NaN,ROW,ROW
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,PGIS,0,1,1,1,NaN,ROW,ROW
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,ROW,ROW
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,ROW,ROW
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,ROW,ROW
5,197001010002,1970,1,1,NaN,0,NaN,217,United States,1,...,"""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
6,197001020001,1970,1,2,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,PGIS,0,0,0,0,NaN,ROW,ROW
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
8,197001020003,1970,1,2,NaN,0,NaN,217,United States,1,...,"David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN,ROW,ROW
9,197001030001,1970,1,3,NaN,0,NaN,217,United States,1,...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN,ROW,ROW
10,197001050001,1970,1,1,NaN,0,NaN,217,United States,1,...,NaN,NaN,PGIS,0,0,0,0,NaN,ROW,ROW
11,197001060001,1970,1,6,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
12,197001080001,1970,1,8,NaN,0,NaN,98,Italy,8,...,NaN,NaN,Hijacking DB,-9,-9,1,1,NaN,ROW,ROW
13,197001090001,1970,1,9,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
14,197001090002,1970,1,9,NaN,0,NaN,217,United States,1,...,"""No Evidence Of Arson Found In Barkers Fire,"" ...","""Toward People's War for Independence and Soci...",Hewitt Project,0,0,0,0,NaN,ROW,ROW
15,197001100001,1970,1,10,NaN,0,NaN,499,East Germany (GDR),9,...,NaN,NaN,PGIS,0,1,1,1,NaN,ROW,ROW
16,197001110001,1970,1,11,NaN,0,NaN,65,Ethiopia,11,...,NaN,NaN,PGIS,0,1,1,1,NaN,ROW,ROW
17,197001120001,1970,1,12,NaN,0,NaN,217,United States,1,...,"Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
18,197001120002,1970,1,12,NaN,0,NaN,217,United States,1,...,"""Toward People's War for Independence and Soci...",NaN,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
19,197001130001,1970,1,13,NaN,0,NaN,217,United States,1,...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
20,197001140001,1970,1,14,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...","Peter F. Nardulli and Jeffrey M. Stonecash, ""P...",Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
21,197001150001,1970,1,15,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,PGIS,0,0,0,0,NaN,ROW,ROW
22,197001190002,1970,1,19,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...","Seattle University, ""1965-1975: Troubled Times...",Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
23,197001190003,1970,1,19,NaN,0,NaN,217,United States,1,...,"Christopher Hewitt, ""Political Violence and Te...","Earl Caldwell, ""Fear Grows In Seattle As Polic...",Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
24,197001190004,1970,1,19,"January 19-20, 1970",0,NaN,217,United States,1,...,"""Black Panthers Say Office Was Bombed,"" New Yo...","""30 Shots Fired Into Office of Panthers in Jer...",Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
25,197001200001,1970,1,20,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,ROW,ROW
26,197001210001,1970,1,21,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,PGIS,-9,-9,1,1,NaN,ROW,ROW
27,197001220001,1970,1,22,NaN,0,NaN,222,Venezuela,3,...,NaN,NaN,PGIS,0,0,0,0,NaN,ROW,ROW
28,197001220002,1970,1,22,NaN,0,NaN,217,United States,1,...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
29,197001250001,1970,1,25,NaN,0,NaN,217,United States,1,...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN,ROW,ROW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156742,201512310002,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156743,201512310004,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156744,201512310005,2015,12,31,NaN,0,NaN,95,Iraq,10,...,"""Iraq: Roundup of Security Incidents 29 Decemb...","""Terrorism: Transcript of ISIL's Al-Bayan Radi...",START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156745,201512310006,2015,12,31,NaN,0,NaN,95,Iraq,10,...,"""Iraq: Security Roundup 1900 GMT 31 December 2...",NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156746,201512310008,2015,12,31,NaN,1,NaN,228,Yemen,10,...,"""Yemen: Security Roundup 2000 GMT 31 December ...","""Gunmen kill senior militia leader in Yemen's ...",START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156747,201512310009,2015,12,31,NaN,0,NaN,228,Yemen,10,...,"""Senior south Yemen army chief survives bombin...","""Senior south Yemen army commander survives bo...",START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156748,201512310010,2015,12,31,NaN,0,NaN,228,Yemen,10,...,NaN,NaN,START Primary Collection,0,1,0,1,NaN,ROW,ROW
156749,201512310012,2015,12,31,NaN,0,NaN,228,Yemen,10,...,NaN,NaN,START Primary Collection,0,0,0,0,NaN,ROW,ROW
156750,201512310013,2015,12,31,NaN,0,NaN,173,Saudi Arabia,10,...,"""Yemen: Security Roundup 2000 GMT 31 December ...",NaN,START Primary Collection,1,1,0,1,NaN,ROW,ROW
156751,201512310015,2015,12,31,NaN,0,NaN,60,Egypt,10,...,"""Egypt parents, three children killed by shell...","""Egypt officials: Militants in Sinai kill enti...",START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156752,201512310016,2015,12,31,NaN,0,NaN,173,Saudi Arabia,10,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156753,201512310017,2015,12,31,NaN,0,NaN,155,West Bank and Gaza Strip,10,...,"""Palestinian in West Bank rams Israeli forces ...","""Breaking: Soldier lightly wounded in vehicula...",START Primary Collection,0,0,0,0,NaN,ROW,ROW
156754,201512310018,2015,12,31,NaN,0,NaN,209,Turkey,10,...,NaN,NaN,START Primary Collection,0,0,0,0,NaN,ROW,ROW
156755,201512310019,2015,12,31,NaN,0,NaN,214,Ukraine,9,...,"""Ukrainian police say Crimean power line damag...","""Power transmission line tower in Kherson regi...",START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156756,201512310020,2015,12,31,NaN,0,NaN,92,India,6,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,Local
156757,201512310021,2015,12,31,NaN,0,NaN,75,Germany,8,...,NaN,NaN,START Primary Collection,-9,-9,1,1,NaN,ROW,ROW
156758,201512310022,2015,12,31,NaN,0,NaN,65,Ethiopia,11,...,"""Hand grenade attack kills 2 at Ethiopian univ...","""Hand grenade attack kills two at Ethiopian un...",START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156759,201512310024,2015,12,31,NaN,0,NaN,160,Philippines,5,...,"""BIFF harassments, rido disrupt New Year celeb...","""HeadlinesTroops beat back BIFF assaults on 3 ...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027",ROW,ROW
156760,201512310025,2015,12,31,NaN,0,NaN,4,Afghanistan,6,...,"""Highlights: Pakistan Pashto Press 2 January, ...",NaN,START Primary Collection,0,0,0,0,NaN,ROW,Local
156761,201512310026,2015,12,31,NaN,0,NaN,160,Philippines,5,...,"""BIFF harassments, rido disrupt New Year celeb...","""HeadlinesTroops beat back BIFF assaults on 3 ...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027",ROW,ROW
156762,201512310027,2015,12,31,NaN,0,NaN,160,Philippines,5,...,"""Philippines: BIFF launches simultaneous attac...","""BIFF harassments, rido disrupt New Year celeb...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027",ROW,ROW
156763,201512310028,2015,12,31,2015-12-31 00:00:00,0,NaN,95,Iraq,10,...,"""2 soliders killed, wounded in explosion in so...",NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156764,201512310029,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,"""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,Local
156765,201512310030,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,"""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,0,0,0,0,NaN,ROW,Local
156766,201512310031,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,"""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,0,0,0,0,NaN,ROW,Local
156767,201512310032,2015,12,31,NaN,0,NaN,34,Burundi,11,...,"""One dead, dozen hurt in Burundi grenade attac...",NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156768,201512310033,2015,12,31,2015-12-31 00:00:00,0,NaN,96,Ireland,8,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156769,201512310034,2015,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,ROW,ROW
156770,201512310036,2015,12,31,2015-12-31 00:00:00,0,NaN,182,Somalia,11,...,NaN,NaN,START Primary Collection,0,0,0,0,NaN,ROW,ROW
156771,201512310037,2015,12,31,NaN,1,1/16/16,113,Libya,10,...,"""21 abducted nationals released in Libya,"" Cai...","""Libya Daily Digest January 20, 2016,"" Libya D...",START Primary Collection,0,1,1,1,NaN,ROW,ROW

In [81]:
##Q.10) How many incidents happened in Af-Pak-India vs ROW?
##Hint: Use the newly created column “Local” and do a value_count or use the size
##function.


terror['Local'].value_counts()

ROW      124374
Local     32398
Name: Local, dtype: int64

In [89]:
##Q.11) List the number of suicides attacks and average kills by Af-Pak-India vs
##ROW. Rename columns in the output as Average_Kills for average kills and
##Number_Incidents for count of suicide attacks.
##Hint: Use the newly created Local column and Suicide column for group by
##summary and use the nkill column to take average and count.


terror.groupby('Local', as_index = False).agg({'suicide': np.sum, 'nkill': np.mean}).rename(columns={"suicide":"Number_Incidents","nkill":"Average_Kills"})

   Local  Number_Incidents  Average_Kills
0  Local              1462       2.105574
1    ROW              3309       2.428727